RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# Jangan cache file HTML
<FilesMatch "\.(html|php)$">
  Header set Cache-Control "no-store, no-cache, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "0"
</FilesMatch>
